.usersStyle {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 140px;
    min-height: 150px;
    margin: 5px 0;
    border: 1px solid gray;
}

.photo img {
    width: 100px;
    margin-top: 10px;
    border-radius: 100%;
}

.src {
    width: 180px;
}

.name {
    margin: 5px 0;
}

.pagination {
    margin: 5px;
}

.currentPage {
    font-weight: 800;

    /*display: flex;*/
    /*justify-content: center;*/

    display: inline-block;
    padding: 5px;
    color: #1a8b8d;
    border: 1px solid #1a8b8d;
    border-radius: 7px;
}

.uncurrenPage {
    display: inline-block;
    padding: 5px;
}
