.usersStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.users {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    height: 160px;
=======
    height:160px;
>>>>>>> master
    width: 120px;
    margin: 5px;
    border: 1px solid gray;

}
.photo img {
    width: 100px;
}
.src {
    width: 180px;
}
.pagination {
    margin: 5px
}
.paginationPages{

}
.currentPage{
    font-weight: 800;
    /*display: flex;*/
    /*justify-content: center;*/
    display: inline-block;
    padding: 5px;
    color: #1A8B8D;
    border: 1px solid #1A8B8D;
    border-radius: 7px;
}
.uncurrenPage {
    display: inline-block;
    padding: 5px;
}