.textarea_status
{
    width: 460px;
    height: 40px;
    margin: 5px 0;
    padding: 10px;
}

.span_status
{
    display: flex;

    width: 460px;
    height: 40px;
    margin: 10px 0;
    padding: 10px;

    border: 1px solid lightgrey;
}
