.messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.message {
    display: flex;
    align-content: space-between;
    height: 100%;
}
.messArea {
    padding: 10px;
}
.messageField {
    padding: 5px;
}
.addMessageTextarea {
}
.messTextarea {
    display: flex;
    justify-content: space-between;
}
.textarea_message {
    width: 548px;
    height: 40px;
}

.dialogs {
    width: 170px;
    border-right:  1px solid lightgrey;
    border-left: none;

}
.userBlock {
    display: flex;
    align-items: center;
    width: 170px;
    height: 40px;
    border-bottom: 1px solid lightgrey;
    border-left: none;
    box-sizing: border-box;
}
.userPhoto {
    display: flex;
    border-radius: 100%;
    margin-right: 10px;;
}
.userName {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    width: 170px;
    padding: 5px;
}
.active{
    background-color: #FEDA75;
    color: black;
    font-weight: 600;
    width: 170px;
    height: 40px;
}
