
/*---------status------------------*/
.status_content {
    font-size: 12px;
    color: white;
}
.online {
    background-color: #b3f5e4;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 10px 0;
}
.offline {
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 10px 0;
}