
/*--------------common------------*/
.common {
    display: flex;
}

/*----------sideBar--------------*/
.sidebar {
    width: 200px;
    min-height: 100%;
    border-right: 1px solid lightgrey;
    margin-top: 5px;
}
.user_photo {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.user_photo_img {
    width: 199px;
    padding: 5px;
}
.case {
    width: 200px;
    border-bottom: 1px solid lightgrey;
    /*padding: 10px;*/
}
.case a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
.case a.activeLink {
    background-color: #BCE4E8;
    font-weight: 600;
}
.case_link {
    display: flex;
}

.case:hover  {
    background-color: #BCE4E8;
}
